/*
The back ground title color has changed to a light purple
*/
#header{
  background-color: #b2abd2;
}
/* The title text has changed to white, the "hello my name is ..." is white
*/
h1 {
  /* changes the text to white*/
  color: #f7f7f7;
  /* padding makes inner space around an elements content,
  inside of the defined borders. */
  padding: 5px;
  /* margin deals with the outer space inside the border, so in this case
  its 0, because we dont want anything outside the border */
  margin: 0;
}
/* A large tan box has encompassed much if the bobdy of the website.
*/
#body-container {
  /* This is due to max-width and height.*/
  background-color: #fdb863;
  /* the width is how much you want the body to strech left to right.
  But also defines the max width of an element, so 1000px is the max
  it will go  */
  max-width: 1000px;
  /* margin: auto; is when the browser calculates the margin. In this case
  the element is horizontally centered within its container. */
  margin: auto;
  height: 100vh;
  /* The border around the body is created here. The color purple was added,
  aswell as the width of the border */
  border:2px solid #5e3c99;
  /* this is what allows the rounded borders on the edges.*/
  border-radius: 25px;
  /* overflow says to clip content or add scrollbars if the content
  of the element is to big to fit in a area. hidden is when overflow is
  not clipped and the rest of the content is invisible. */
  overflow: hidden;
}
/*The text has changed color to purple and most of the text and picture has
centered itself.
*/
body {
  /* Adds a border to the bodies and around the title */
  background-color: #fdb863;
  /* this is the text changing color to purple from black*/
  color: #5e3c99;
  /* this aligns the "Welcome...University" to center. */
  text-align: center;
  /* margin deals with the outer space inside the border, so in this case
  its 0, because we dont want anything outside the border */
  margin: 0;
}

#profile-picture {
  /*float is used to position or formatting content mostly for images.
  left the element floats to the left of the container. In simple words it
  Moves pic to the left*/
  float:left;
}
#welcome-text {
  /* padding-top property sets a space between the content and its border.
  So on the webstite it increased the space between the "Hello...!" and the top
  border.*/
  padding-top: 25px;
  /* increased the text size and font */
  font-size: 25px;
}

#research-intrests {
  /* this aligns the "Research intrests and the list of intrests" to center. */
  text-align:left;
  /* this increased the text "Research intrests and the list of intrests" to
  25px */
  font-size: 25px;
  /* position property is the type of positioning method used for an element.
  position relative is relative to its normal position.*/
  position: relative;
  /* This fixes the numbers that were unilghed on the profle picture.by moving
  the picture to the left relative to its oringal location */
  left: 50px;
}
/*copyright is addinding a box at the bottom where info
about our web page is going ex name, date, sources*/
#copyright {
  /*for absolute the element is positioned relative to its first
  positioned ancestor element*/
 position: absolute;
 /* The width property sets the width of an element,
 it streches the element horizontally*/
 width: 1000px;
 /* This aligns the copyright text at the bottom of
 the page to the center.*/
 text-align: center;
 /*The bottom property affects the vertical position
 of a positioned element.*/
 bottom: 20px;
}

/*
colorblind safe color palette from colorbrewer2.org
#e66101 orange
#fdb863 tan
#f7f7f7 white
#b2abd2 light purple
#5e3c99 purple
*/
