body {
  background-color: #e66101;
  color: #5e3c99;
  text-align: center;
}
h1 {
  color: #f7f7f7;
}
/*
colorblind safe color palette from colorbrewer2.org
#e66101 orange
#fdb863 tan
#f7f7f7 white
#b2abd2 light purple
#5e3c99 purple 
*/
